node_modules

files/.config/iterm2/AppSupport
files/.config/nvim/session
files/.config/lvim.old
files/.config/lvim/plugin
files/.config/lvim/ignore
files/.config/github-copilot
files/.config/lazygit/state.yml
files/.config/tmux/plugins
files/.config/irb
files/.config/karabiner/automatic_backups
files/.config/grammarly*
files/.config/yarn/global/node_modules
files/.config/thefuck/__pycache__
files/.config/ngrok/ngrok.yml.*
files/.config/configstore/update-notifier-npm.json
files/.config/op/config
files/.config/raycast
files/.config/lnav
files/.config/neofetch
files/.config/StardewValley
files/.config/AWSVPNClient
files/.config/nvim/spell/*.spl
files/.config/gh/hosts.yml
files/.config/AWS VPN Client/AWS VPN Client/NetSparkleUpdater
