.files/.config/iterm2/AppSupport
.files/.config/nvim/session
.files/.config/lvim.old
.files/.config/lvim/plugin
.files/.config/lvim/ignore
.files/.config/github-copilot
.files/.config/lazygit/state.yml
