.files/.config/iterm2/AppSupport
.files/.config/nvim/session
.files/.config/lvim.old
.files/.config/lvim/plugin
.files/.config/lvim/ignore
.files/.config/github-copilot
.files/.config/lazygit/state.yml
.files/.config/tmux/plugins
.files/.config/irb
.files/.config/karabiner/automatic_backups
