[user]
  name = Pawel Protas
  email = contact@pawelprotas.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII874qsVN3P+1Fjo28tOZOcJiMsDtNQZuXqdBzXMq6mC
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  attributesfile = ~/.gitattributes
  pager = delta
[init]
  defaultBranch = main
[rebase]
  updateRefs = true
[rerere]
  enabled = true

[credential]
  helper = osxkeychain
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true

[merge]
  tool = nvim
  conflictstyle = diff3
[mergetool "nvim"]
  cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  mergetool = "!nvim -c DiffviewOpen"
  dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    features = line-numbers decorations
    true-color = always
[diff]
    colorMoved = default

[includeIf "gitdir:~/Projects/h1/"]
  path = ~/.gitconfig_h1
