[user]
	name = Pawel Protas
	email = pawel@hackerone.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	attributesfile = ~/.gitattributes
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = git-merge-structure-sql %A %O %B
