[user]
  name = Pawel Protas
  email = contact@pawelprotas.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII874qsVN3P+1Fjo28tOZOcJiMsDtNQZuXqdBzXMq6mC
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  attributesfile = ~/.gitattributes
[init]
  defaultBranch = main

[gpg]
  format = ssh
[gpg "ssh"]
  program = gpg-sign-wrapper
[commit]
  gpgsign = true

[pull]
  ff = only

[push]
  autoSetupRemote = true
  forceWithLease = true

[rebase]
  updateRefs = true
  autoStash = true
[rerere]
  enabled = true

[diff]
  mnemonicPrefix = true
  colorMoved = zebra
  compactionHeuristic = true

[grep]
  lineNumber = true
  patternType = perl
  extendedRegexp = true

[help]
  autocorrect = prompt

[includeIf "gitdir:~/Projects/h1/"]
  path = ~/.gitconfig_h1
